.tets {
  margin-top: 40px;
  .tets_text {
    margin-bottom: 10px;
  }


  .back-ground {
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    background-color: #ccc2c2;
    margin-bottom: 20px;
  }
}
